@import url(http://fonts.googleapis.com/css?family=Hind);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

main {
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  color: #59554E;
}

header {
  text-align: center;
  background-color: rgba(161,193,190,1);
}

.poiret {
  font-family: 'Poiret One', cursive;
  font-weight: 800;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

.upperCase {
  text-transform: uppercase;
}

.color1 {
  background-color: #FFFFFF;
}

.color2 {
  background-color: #A1C1BE;
}

.color3 {
  background-color: #59554E;
  color: white;
}

.color4 {
  background-color: #F3F4E5;
}

.color5 {
  background-color: #E2E3D9;
}

input[type="text"], [type="button"]{
  width: 300px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 100px;
}

input[type="text"] {
  border: solid #59554E 2px;
  background-color: #E2E3D9;
}

input[type="button"] {
  background-color: #A1C1BE;
  color: white;
}

input[type="checkbox"] {
  margin-top: 100px;
}

section {
  text-align: center;
}
