/* ---GENERAL--- */

.center_text {
  text-align: center;
}

img {
  width: 100%;
}

/* ---HEADER--- */

.main_header {
  background-color: #df4931;
  height: 80px;
  text-align: center;
  font-family: "Fairview Regular";
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 2.618em;
}

.icon-cog {
  font-size: .7em;
}

.nav_link {
  color: white;
  font-size: 1.3em;
  text-decoration: none;
  transition: color .2s linear;
}

/* ---MAIN PAGES--- */

/* ---LOOK--- */

.home_fourcolumn {
  font-size: 7vw;
}

.home_threecolumn {
  font-size: 7vw;
}

.home_twocolumn {
  font-size: 7vw;
}

.home_onecolumn {
  font-size: 7vw;
}

.price{
  display: none;
}

.caption {
  background-color: #df4931;
  color: white;
  text-align: center;
  padding: 6px;
}

/* ---BUY--- */

input:not(.card):not(.buy_button) {
  width: 97%;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.buy_stuff_text {
  font-size: 1.414em;
}

fieldset {
  padding: 2%;
  color: white;
}

form > fieldset {
  background-color: #FF6952;
}

fieldset > p {
  text-transform: uppercase;
}

select {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
}

/* ---ABOUT--- */

.about_link, .buy_button {
  text-align: center;
  padding: 15px;
  background-color: white;
  border: 2px solid #df4931;
  color: #df4931;
  text-decoration: none;
  font-family: "Slabo Regular";
  font-size: 1.414em;
  transition: background-color .2s linear, color .2s linear;
}

.about_content {
  font-size: 1em;
}

#map {
  height: 300px;
}

/* ---VIDEO--- */

#play_pause {
  display: none;
}

.muted, .fullscreen {
  display: none;
}

.progress_bar {
  display: none;
}

video {
  width: 100%;
}

/* ---PHOTO--- */

.show_stuff {
  text-align: center;
}

.photo_form {
  background-color: #FF6952;
  color: white;
  font-size: 1.414em;
}

#submit {
  text-align: center;
  padding: 10px;
  background-color: white;
  border: 2px solid #df4931;
  color: #df4931;
  text-decoration: none;
  font-family: "Slabo Regular";
  font-size: 1.414em;
  height: auto;
  width: 50%;
  border-radius: 0;
  transition: background-color .2s linear, color .2s linear;
}

.flickr_photo {
  width: 60%;
  padding: 5% 10%;
  background-color: #FF6952;
}

/* ---FOOTER--- */

.main_footer {
  height: 70px;
  background-color: #df4931;
  text-align: center;
  color: white;
  padding: 1px;
}

.social_link {
  color: white;
  font-size: 1.414em;
  text-decoration: none;
  margin-top: 10px;
  transition: color .2s linear;
}

@media (min-width: 400px) {
  .main_header {
    height: 140px;
  }

  h1 {
    font-size: 4.236em;
  }

  .icon-cogs {
    font-size: .7em;
  }

  .nav_link {
    font-size: 1.618em;
  }

  .main_footer {
    height: 100px;
  }

  /*---VIDEO---*/

  .video_player {
    position: relative;
  }

  #play_pause {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .icon-play2 {
    font-size: 4em;
    color: #df4931;
    cursor: pointer;
    -webkit-filter: drop-shadow(1px 1px 4px black);
    filter: drop-shadow(1px 1px 4px black);
  }

  .icon-pause {
    font-size: 4em;
    color: #df4931;
    cursor: pointer;
    -webkit-filter: drop-shadow(1px 1px 4px black);
    filter: drop-shadow(1px 1px 4px black);
  }

  .muted, .fullscreen {
    color: #df4931;
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #E3DDEC;
    width: 23%;
    padding: 1% 0;
    font-size: 1em;
    box-shadow: 0 0 6px black;
  }

  .muted {
    left: 25%;
  }

  .fullscreen {
    left: 75%;
  }

  .muted_border {
    background-color: #df4931;
    color: #E3DDEC;
  }

  .progress_bar {
    position: relative;
    display: inline-block;
    width: 100%;
    height:20px;
    background-color: #E3DDEC;
    margin-top: -1%;
  }

  .current_progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #df4931;
  }
}

@media (min-width: 550px) {
  .home_fourcolumn {
    font-size: 2vw;
  }

  .home_threecolumn {
    font-size: 3vw;
  }

  .home_twocolumn {
    font-size: 4vw;
  }

  .home_onecolumn {
    font-size: 7vw;
  }

}



